  <!-- midia -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " 
    style="text-align:center;margin-top:0px;background-color: #fbf9f4;
    padding-top: 10px;padding-bottom: 10px;margin-bottom: 10px:">
    <img src="/img/cupon.svg" alt="Kiwi standing on oval" width="35px" >
    <a href="/parceiros/incentivos/cupons" style="color: black">CLIQUE AQUI E TENHA ACESSO A CUPONS DE DESCONTOS !!!</a>
  </div>