<!DOCTYPE html>
<html lang="en">

	<head>
	    <title><%= title %></title>
	    <meta name="description" content="Veja avaliações de produtos no Before Deciding, antes de decidir a sua compra." />
		<meta name="keywords" content="avaliações, avaliações de produtos, before deciding, comparador de avalições, reviews, reviews de produtos, comparador de reviews, avaliações de e-commerce" />
		<meta property="og:title" content="Before Deciding | Veja avaliações antes de comprar." />
		<meta property="og:description" content="Veja avaliações de produtos no Before Deciding, antes de decidir a sua compra." />
	    <link rel="canonical" href="http://www.beforedeciding.com.br" />
	    <%- include('../partials/head') %>
	</head>

	<body class="lp">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<img class="img-responsive center-block"  src="img/before_deciding.png">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="jumbotron">
						<img class="img-responsive center-block"  src="img/bd_boy.png">
			  			<h2><strong>Consulte avaliações antes de comprar!<strong></h2>
			  			<h3> Veja avaliações de produtos e lojas</h3>
			  			<h3> fornecidas por milhares de usuários,<br><br>antes de decidir a sua compra.</h3>
			  			<br>
			  			<br>
			  			 	<% if (featureToogle) { %>

			  				<form action="/" method="get" class="navbar-form navbar-center" role="search">
		             			<button id="btnCallToAction" type="submit" class="btn btn-warning btn-lg" type="button" onclick="ga('send','event','lp','click','call_to_action');">
		               			   <text style="color: black"> Ver Avaliações</text>
		              			</button>
			        		</form>

			        		<% } %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<img class="img-responsive center-block"  src="img/reviews.png">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3 class="text-center">
		  				Milhares de avaliações dos maiores sites de e-commerce do Brasil!
		  			</h3>
				</div>
			</div>
			<div class="row row-lp">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div id="carousel-lp" class="carousel slide" data-ride="carousel">
		  				<br>
						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						   		<a href="http://ad.zanox.com/ppc/?40904826C94132168T" target="_blank">
						    		<img class="img-responsive center-block ponto_frio"  alt="Logo_Homepage">
						  		</a>	      
						    </div>
						    <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?40898392C63284522T" target="_blank">
						            <img class="img-responsive center-block walmart" alt="Logo_Homepage">
						        </a>
						    </div>
						    <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?40874983C81243894T" target="_blank">
						      		<img class="img-responsive center-block ricardo_eletro" alt="Logo_Homepage"">
						      	</a>
						    </div>
						    <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?40875367C37023309T" target="_blank">
						      		<img class="img-responsive center-block lojas_colombo"  alt="Logo_Homepage"">
						      	</a>
						    </div>
						    <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?40904844C1172550T" target="_blank">
						      		<img class="img-responsive center-block casas_bahia"  alt="Logo_Homepage"">
						      	</a>
						    </div>
						     <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?40985717C94975482T" target="_blank">
						      		<img class="img-responsive center-block brastemp"  alt="Logo_Homepage"">
						      	</a>
						    </div>
						    <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?41020202C55168703T" target="_blank">
						      		<img class="img-responsive center-block consul"  alt="Logo_Homepage"">
						      	</a>
						    </div>
						    <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?40985354C19055946T" target="_blank">
						      		<img class="img-responsive center-block extra"  alt="Logo_Homepage"">
						      	</a>
						    </div>
						    <div class="item">
						    	<a href="http://ad.zanox.com/ppc/?40929588C21356168T" target="_blank">
						      		<img class="img-responsive center-block girafa"  alt="Logo_Homepage"">
						      	</a>
						    </div>
						  </div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-lp" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<!--     <span class="sr-only">Previous</span> -->
						  </a>
						  <a class="right carousel-control" href="#carousel-lp"" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<!-- 	    <span class="sr-only">Next</span> -->
						  </a>
						  <br>
					</div>
				</div>
			</div>
			<br>
		</div>
			
		<footer class="footer_lp">
	      <div ><%- include('../partials/footer') %></div>
	    </footer>
	</body>

</html>






