<style type="text/css">
  .ga_click_category{

  }
</style> 
<ul class="dropdown-menu menu_eletrodomesticos" role="menu">
	<!-- departament -->
	<li><a href="/eletrodomésticos?ts=3" class="ga_click_category"><u><h4>Eletrodomésticos</h4></u></a></li>
	<!-- categories -->
	<li><a href="/geladeira?ts=2" class="ga_click_category">Geladeira</a></li>
	<li><a href="/fogão?ts=2" class="ga_click_category">Fogão</a></li>
	<li><a href="/microondas?ts=2" class="ga_click_category">Microondas</a></li>
	<li><a href="/ar condicionado?ts=2" class="ga_click_category">Ar condicionado</a></li>
	<li><a href="/lavadora de roupa?ts=2" class="ga_click_category">Lavadora de roupa</a></li>
	<li><a href="/secadora?ts=2" class="ga_click_category">Secadora</a></li>
</ul> 