<style type="text/css">
  .ga_click_category{

  }
 </style>
 <!--desktop -->
<ul class="dropdown-menu menu_smartphones" role="menu">
 <li><a href="/iphone/" class="ga_click_category">Iphones</a></li>
 <li><a href="/motorola/" class="ga_click_category">Motorola</a></li>
 <li><a href="/samsung%20galaxy/" class="ga_click_category">Samsung Galaxy</a></li>
 <li><a href="/zenfone/" class="ga_click_category">Zenfone</a></li>
 <li><a href="/sony/" class="ga_click_category">Sony</a></li>
 <li><a href="/lg/" class="ga_click_category">LG</a></li>
</ul> 