<style type="text/css">
  .ga_click_category{

  }
 </style>
<!--desktop -->
<ul class="dropdown-menu menu_utensilios" role="menu">
	<!-- departament -->
	<li><a href="/smartphones?ts=3" class="ga_click_category"><u><h4>Utensílios Domésticos</h4></u></a></li>
	<!-- categories -->
	<li><a href="/panela?ts=2" class="ga_click_category">Panelas</a></li>
	<li><a href="/pote?ts=2" class="ga_click_category">Potes</a></li>
</ul> 