<style type="text/css">
  .ga_click_category{

  }
 </style>
<ul class="dropdown-menu menu_informatica" role="menu">
	<li><a href="/playstation?ts=2" class="ga_click_category">Playstation</a></li>
	<li><a href="/xbox?ts=2" class="ga_click_category">Xbox</a></li>
	<li><a href="/wii?ts=2" class="ga_click_category">Wii</a></li>
	<li><a href="/ps?ts=2" class="ga_click_category">PS</a></li>
	<li><a href="/tectoyts=2" class="ga_click_category">Tectoy</a></li>
	<li><a href="/jogos pc?ts=2" class="ga_click_category">Jogos PC</a></li>
	<li><a href="/jogos mac?ts=2" class="ga_click_category">Jogos Mac</a></li>
</ul> 

