<style type="text/css">
  .ga_click_category{

  }
 </style>
<ul class="dropdown-menu menu_games" role="menu">
	<!-- departament -->
	<li><a href="/tv?ts=3" class="ga_click_category"><u><h4>TV</h4></u></a></li>
	<!-- categories -->
<!-- 	<li><a href="/smart%20tv?ts=2" class="ga_click_category">Smart TV</a></li>
	<li><a href="/ultra%20hd?ts=2" class="ga_click_category">Ultra HD</a></li>
	<li><a href="/televisão?ts=2" class="ga_click_category">Televisores</a></li>
	<li><a href="/home%20theater?ts=2" class="ga_click_category">Home Theater</a></li>
	<li><a href="/tv%20monitor?ts=2" class="ga_click_category">Tv Monitor</a></li> -->
</ul> 


