<style type="text/css">
  .ga_click_category{

  }
 </style>
<ul class="dropdown-menu menu_informatica" role="menu">
	<!-- departament -->
	<li><a href="/informática?ts=1" class="ga_click_category"><u><h4>Informática</h4></u></a></li>
	<!-- categories -->
	<li><a href="/tablet?ts=1" class="ga_click_category">Tablet</a></li>
	<li><a href="/notebook?ts=1" class="ga_click_category">Notebook</a></li>
	<li><a href="/macbook apple?ts=1" class="ga_click_category">Macbook</a></li>
	<li><a href="/impressoras?ts=1" class="ga_click_category">Impressoras e Multifuncionais</a></li>
	<li><a href="/navegador GPS?ts=1" class="ga_click_category">Navegadores GPS</a></li>
	<li><a href="/ipad apple?ts=1" class="ga_click_category">Ipad</a></li>
</ul> 


