<style type="text/css">
  .ga_click_category{

  }
 </style>
<ul class="dropdown-menu menu_eletroportateis" role="menu">
	<li><a href="/ventilador/" class="ga_click_category">Ventiladores</a></li>
	<li><a href="/aspirador de pó/" class="ga_click_category">Aspirador de pó</a></li>
	<li><a href="/fritadeira/" class="ga_click_category">Fritadeiras sem óleo</a></li>
	<li><a href="/cafeteira/" class="ga_click_category">Cafeteiras</a></li>
	<li><a href="/máquina de costura/" class="ga_click_category">Máquinas de costura</a></li>
	<li><a href="/purificador/" class="ga_click_category">Purificadores</a></li>
	<li><a href="/batedeira/" class="ga_click_category">Batedeiras</a></li>
	<li><a href="/liquidificador/" class="ga_click_category">Liquidificadores</a></li>
	<li><a href="/mixer/" class="ga_click_category">Mixers</a></li>
	<li><a href="/ferro/" class="ga_click_category">Ferros</a></li>
</ul> 