<style type="text/css">
  .ga_click_category{

  }
 </style>
<ul class="dropdown-menu menu_eletroportateis" role="menu">
	<!-- departament -->
	<li><a href="/eletroportáteis?ts=3" class="ga_click_category"><u><h4>Eletroportáteis</h4></u></a></li>
	<!-- categories -->
	<li><a href="/ventilador?ts=2" class="ga_click_category">Ventiladores</a></li>
	<li><a href="/aspirador_pó?ts=2" class="ga_click_category">Aspirador de pó</a></li>
	<li><a href="/fritadeiras_óleo?ts=2" class="ga_click_category">Fritadeiras sem óleo</a></li>
	<li><a href="/cafeteira?ts=2" class="ga_click_category">Cafeteiras</a></li>
	<li><a href="/máquina_costura?ts=2" class="ga_click_category">Máquinas de costura</a></li>
	<li><a href="/purificador?ts=2" class="ga_click_category">Purificadores</a></li>
	<li><a href="/batedeira?ts=2" class="ga_click_category">Batedeiras</a></li>
	<li><a href="/liquidificador?ts=2" class="ga_click_category">Liquidificadores</a></li>
	<li><a href="/mixer?ts=2" class="ga_click_category">Mixers</a></li>
	<li><a href="/ferro?ts=2" class="ga_click_category">Ferros</a></li>
</ul> 