<div id="footer">
	<div class="container-fluid"">
     	<h6 class="text-center">Roma Tecnologia - todos direitos reservados - cnpj: 10.442.436.0001-94 - contato@beforedeciding.com.br</h6>
     </div>
</div>

<!--jquery -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>

<!--bootstrap -->
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>