<div id="footer">
	<div class="row">
		<br>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<img class="img-responsive center-block"  src="img/bd_boy_footer.png">
			<h5 class="text-center">siga-me nas redes sociais :</h5>
		</div>
	</div>
	<div class="row">
		<br>
		<div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
		</div>
		<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
			 <a href="https://www.facebook.com/beforedeciding/" target="_blank">
  				<img class="img-responsive center-block" src="img/facebook.png" alt="...">
				 </a>
		</div>
		<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1" >
			 <a href="https://twitter.com/BDeciding" target="_blank">
  				<img class="img-responsive center-block" src="img/twitter.png" alt="...">
				 </a>
		</div>
		<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
			 <a href="https://www.instagram.com/bdeciding/" target="_blank">
  				<img class="img-responsive center-block" src="img/instagram.png" alt="...">
				 </a>
		</div>
		<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
			 <a href="https://www.linkedin.com/company/before-deciding" target="_blank">
  				<img class="img-responsive center-block" src="img/linkedin.png" alt="...">
				 </a>
		</div>
		<div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
		</div>
	</div>
	<h6 class="text-center">Roma Tecnologia - todos direitos reservados - cnpj: 10.442.436.0001-94 - contato@beforedeciding.com.br</h6>
</div>

<!--jquery -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>

<!--bootstrap -->
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<% if ((env === 'teste')  || (env === 'development')) { %>
	<!--livereload -->
	<script src="//localhost:35729/livereload.js"></script>
<% } %>  