<div class="navbar-header">
 <row>
 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
 	

 		<%- include('../categories/menu_categories') %>

 	 
 	 </div>	
 	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
 	

 		<a class="navbar-brand brand_bd" href="/offers">
 			<img class="img-responsive center brand_img">
 		</a>
 		
 	 
 	 </div>	
 	 </row>
</div>