  <!-- midia -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-md visible-lg" 
    style="text-align:center;margin-bottom:10px;padding-top:10px;padding-bottom: 5px;background-color: beige;">
    <!-- COMEÇO do código HTML da afiliação zanox-->
    <!-- (O código HTML não pode ser alterado para que possa funcionar corretamente. )-->
    <a href="http://ad.zanox.com/ppc/?43895686C514684907T"><img src="http://ad.zanox.com/ppv/?43895686C514684907" align="bottom" border="0" hspace="1" alt="B_Blend_728x90"></a>
    <!-- ENDING of the zanox-affiliate HTML-Code -->
    <p></p>
  </div>