  <!-- midia -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 visible-md visible-lg" 
    style="text-align:center;margin-top:20px:margin-bottom:10px;background-color: #fbf9f4;
    padding-top: 10px;padding-bottom: 10px;margin-top: 10px;">
<!-- COMEÇO do código HTML da afiliação zanox-->
<!-- (O código HTML não pode ser alterado para que possa funcionar corretamente. )-->
<a href="http://ad.zanox.com/ppc/?43930814C212001425T"><img src="http://ad.zanox.com/ppv/?43930814C212001425" align="bottom" width="728" height="90" border="0" hspace="1" alt="Frete Gratis - Ricardo Eletro 728x90"></a>
<!-- ENDING of the zanox-affiliate HTML-Code -->
  </div>