<style type="text/css">
  .ga_click_category{

  }
</style> 

<ul class="dropdown-menu" role="menu">
	<li><a href="/panela/" class="ga_click_category">Panelas</a></li>
	<li><a href="/pote/" class="ga_click_category">Potes</a></li>
</ul>