<!--desktop -->
<ul class="dropdown-menu" role="menu">
	<li><a href="/categoria/panela/" onclick="ga('send','event','categorias','click','click_menu');">Panelas</a></li>
	<li><a href="/categoria/pote/" onclick="ga('send','event','categorias','click','click_menu');">Potes</a></li>
</ul> 