<style type="text/css">
  .ga_click_category{

  }
</style> 

<ul class="dropdown-menu" role="menu">
	<li><a href="/tablet/" class="ga_click_category">Tablet</a></li>
	<li><a href="/notebook/" class="ga_click_category">Notebook</a></li>
	<li><a href="/macbook apple/" class="ga_click_category">Macbook</a></li>
<!-- 	<li><a href="/acessorios Inform치tica/" onclick="ga('send','event',s','click','click_menu');">Acess칩rios Inform치tica</a></li>
	<li><a href="/acessorios Apple/" onclick="ga('send','event',s','click','click_menu');">Acess칩rios Apple</a></li> -->
	<li><a href="/impressoras/" class="ga_click_category">Impressoras</a></li>
	<li><a href="/multifuncional/" class="ga_click_category">Multifuncionais</a></li>
	<li><a href="/navegador gps/" class="ga_click_category"Navegadores GPS</a></li>
	<li><a href="/tablet apple/" class="ga_click_category">Ipad</a></li>
</ul> 
