@media (max-width:768px) {
  .walmart{
    content:url('/../../img/retailers/walmart.png');
    max-width: 80px;
  }

  .ricardo_eletro{
    content:url('/../../img/retailers/ricardo_eletro.png');
    max-width: 80px;
  }

  .ponto_frio{
    content:url('/../../img/retailers/ponto_frio.png');
    max-width: 80px;
  }

  .lojas_colombo{
    content:url('/../../img/retailers/lojas_colombo.png');
    max-width: 80px;
  }

  .casas_bahia{
    content:url('/../../img/retailers/casas_bahia.png');
    max-width: 80px;
  }

  .brastemp{
    content:url('/../../img/retailers/brastemp.png');
     max-width: 80px;
  }

  .consul{
    content:url('/../../img/retailers/consul.png');
    max-width: 80px;
  }

  .extra{
    content:url('/../../img/retailers/extra.png');
    max-width: 80px;
  }

  .girafa{
    content:url('/../../img/retailers/girafa.png');
    max-width: 80px;
  }

  .fast_shop{
    content:url('/../../img/retailers/fast_shop.png');
    max-width: 80px;
  }
}



/*nothing with screen size smaller than 768px*/
@media (min-width:768px) {
  .walmart{
    content:url('/../../img/retailers/walmart.png');
    max-width: 140px;
  }

  .ricardo_eletro{
    content:url('/../../img/retailers/ricardo_eletro.png');
    max-width: 140px;
  }

  .ponto_frio{
    content:url('/../../img/retailers/ponto_frio.png');
    max-width: 140px;
  }

  .lojas_colombo{
    content:url('/../../img/retailers/lojas_colombo.png');
    max-width: 140px;
  }

  .casas_bahia{
    content:url('/../../img/retailers/casas_bahia.png');
    max-width: 140px;
  }

  .brastemp{
    content:url('/../../img/retailers/brastemp.png');
    max-width: 140px;
  }

  .consul{
    content:url('/../../img/retailers/consul.png');
    max-width: 140px;
  }

  .extra{
    content:url('/../../img/retailers/extra.png');
    max-width: 140px;
  }

  .girafa{
    content:url('/../../img/retailers/girafa.png');
    max-width: 140px;
  }

  .fast_shop{
    content:url('/../../img/retailers/fast_shop.png');
    max-width: 140px;
  }
}