<style type="text/css">

  /* nothing with screen size bigger than 768px */
  @media (max-width:768px) {
    h1 {
      font-size: 1.0em;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px; 
    }
  }

  /*nothing with screen size smaller than 768px*/
  @media (min-width:768px) {
    h1 {
      font-size: 1.5em; 
     /* padding: 20px 0px 70px 70px;*/
    }
  }
    
</style>


<!-- name prodduct -->
<h1 itemprop="name" id="name_offer"><%= product.name %></h1>