  <% for(var i=0; i <offers.docs.length; i++) { %>
    
    <%# if ean exists %>

      <% if (i % 2 == 0) { %>
    
        <row>
        
        <%- include('./box_offers',{offer:offers.docs[i]}); %>

      <% } else { %>  
          
         <%- include('./box_offers',{offer:offers.docs[i]}); %>
         
        </row>

        <row>
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <br>
           </div>
        </row>
      <% } %>

  <% } %>







