  <form id="form_order_reviews" action="/home" method="POST" style="margin-top: -18px;">
    <label style="font-size: 12px;font-weight: normal;margin-top: -30px" class="visible-xs">ordenar por:</label>
    <input type="hidden" name="page" value="<%= pagination.previous %>"/>
    <input type="hidden" name="query" value="<%= query %>"/>
    <div class="form-group">
      <select id="select_reviews" class="form-control" name="resultOrder" onchange="this.form.submit()" style="height: 28px">
          
          <!-- option 1 >> total de avaliacoes -->
          <% if (order == 1) { %>
            <option id="opt_total_reviews" label="total avaliações" value="1" selected="selected"></option>
            <option id="opt_total_reviews_positivos" label="avaliações positivas" value="2"></option>
            <option id="opt_total_reviews_negativos" label="avaliações negativas" value="3"></option>
            <option id="opt_menor_preco" label="menor preço" value="4"></option>
          <% } %>

          <!-- option 2 >> avaliações positivos -->
          <% if (order == 2) { %>
            <option id="opt_total_reviews" label="total avaliações" value="1"></option>
            <option id="opt_total_reviews_positivos" label="avaliações positivas" value="2" selected="selected"></option>
            <option id="opt_total_reviews_negativos" label="avaliações negativas" value="3"></option>
            <option id="opt_menor_preco" label="menor preço" value="4"></option>
          <% } %>
          
          <!-- option 3 >> avaliações negativas -->
          <% if (order == 3) { %>
            <option id="opt_total_reviews" label="total avaliações" value="1"></option>
            <option id="opt_total_reviews_positivos" label="avaliações positivas" value="2"></option>
            <option id="opt_total_reviews_negativos" label="avaliações negativas" value="3" selected="selected"></option>
            <option id="opt_menor_preco" label="menor preço" value="4"></option>
          <% } %>

                    <!-- option 3 >> avaliações negativas -->
          <% if (order == 4) { %>
            <option id="opt_total_reviews" label="total avaliações" value="1"></option>
            <option id="opt_total_reviews_positivos" label="avaliações positivas" value="2"></option>
            <option id="opt_total_reviews_negativos" label="avaliações negativas" value="3"></option>
            <option id="opt_menor_preco" label="menor preço" value="4" selected="selected"></option>
          <% } %>
      </select>
    </div>
</form>