  <form action="/home" method="POST" style="margin-top: -18px;">
    <input type="hidden" name="page" value="<%= pagination.previous %>"/>
    <input type="hidden" name="query" value="<%= query %>"/>
    <div class="form-group">
      <select class="form-control" name="resultOrder" onchange="this.form.submit()" style="height: 28px">
          <% if (order == 0) { %>
            <option value="0" selected="selected">Ordenar</option>
            <option label="total de avaliações" value="1" ></option>
            <option label="avaliações positivas" value="2"></option>
            <option label="avaliações negativas" value="3"></option>
          <% } %>
       
          <!-- option 1 >> total de avaliacoes -->
          <% if (order == 1) { %>
            <option value="0">Ordenar</option>
            <option label="total de avaliações" value="1" selected="selected"></option>
            <option label="avaliações positivas" value="2"></option>
            <option label="avaliações negativas" value="3"></option>
          <% } %>

          <!-- option 2 >> avaliações positivos -->
          <% if (order == 2) { %>
            <option value="0">Ordenar</option>
            <option label="total de avaliações" value="1"></option>
            <option label="avaliações positivas" value="2" selected="selected"></option>
            <option label="avaliações negativas" value="3"></option>
          <% } %>
          
          <!-- option 3 >> avaliações negativas -->
          <% if (order == 3) { %>
            <option value="0">Ordenar</option>
            <option label="total de avaliações" value="1"></option>
            <option label="avaliações positivas" value="2"></option>
            <option label="avaliações negativas" value="3" selected="selected"></option>
          <% } %>
      </select>
    </div>
</form>