<form onsubmit="javascript:searchOffers();return false;" method="get" class="navbar-form navbar-center" role="search">
  <div class="input-group">    
    <input id="input_search_offer" type="text" class="form-control input_search" placeholder="Buscar avaliações " aria-describedby="basic-addon1" name="query"ß>
    <span class="input-group-btn">
      <button id="btnSearchOffers" type="submit" class="btn btn-warning" type="button" style="color: black" onclick="searchOffers()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</form>

<script type="text/javascript">
	// Read a page's GET URL variables and return them as an associative array.
	function searchOffers() {
	  var term = document.getElementById("input_search_offer").value;
    var pathname = window.location.pathname;

    // if(pathname==="/search"){
      var uri = window.location.protocol + '//'+ window.location.host + '/' + term + '?page=' + 1;
      // window.alert("busca");
     // }else{
     //  var uri = window.location.protocol + '//'+ window.location.host + '/' + term;
     //  window.alert("categoria");
     // }
	 
	  // window.alert(uri);
	  window.location.assign(uri);
	}

</script>
 
