<nav class="navbar navbar-default navbar-fixed-top nav_bd" role="navigation">
  <row>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand brand_bd" href="/offers"><img class="img-responsive center"  src="img/before_deciding_app.png"></a>
        </div>

        <form action="/offers" method="post" class="navbar-form navbar-center" role="search">

          <div class="input-group input-group-md">

              <input id="input_search_offer" type="text" class="form-control input_search" placeholder="Buscar reviews geladeira" aria-describedby="basic-addon1" name="query">

              <span class="input-group-btn">
                <button type="submit" class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>

          </div>

        </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div_slogan">
      <p class="text-muted">"consulte reviews antes de comprar seu eletrodoméstico."</p>
    </div>

  </row>
</nav>