// Components
@import "variables.less";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: @bg_gray;
  border: 0px
}


.footer_bd{
  content:url('/../../img/decidaki símbolo.png');
}

.panel-footer{
  border: 0px;
  background-color: @bg_da;
}