
/*  Extra small devices Phones (<768px)*/
@media (max-width:768px) {
	.label_order{
		font-size: 14px;
		font-weight: normal;
		margin: 0px 0px 10px 0px
	}

	.logo_merchant{
    	width: 30em;
    	text-align: left;
  	}

	.price_offer{
	    width: 60em;
	    text-align: center;
	    font-weight: bold;
	    font-size: 14px;
  	}

  	.btn_offer{
    	width: 10em;
    	text-align: right
  	}

  	.a_couter{
    /*   margin-left: -15px;*/
    text-align: center;
  	}

  	.box_reviews{
      padding-left: 0px;
      padding-right: 0px;
    }

}

/*Small devices Tablets (≥768px)*/
@media (min-width:768px) {
	.label_order{
		font-size: 14px;
		font-weight: normal;
		margin: 25px 0px 0 10px
	}

	.logo_merchant{
	    width: 38em;
	    text-align: left;
  	}

	.price_offer{
	    width: 55em;
	    text-align: center;
	    font-weight: bold;
	}

  	.btn_offer{
    	width: 8em;
    	text-align: right;
  	}
}

.total_review_order {
	font-size: 16px;
	color: rgb(206, 96, 8);
}

.img_offer{
	padding-right: 10px!important;
	padding-left: 1px!important;
}

/** offers_order_review */
.div_label_order{
	margin-top: -15px;
	text-align: right
}


.badge_ver_avaliacoes{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #808080;
    text-align: center;
    /* height: 10px white-space: nowrap; */
    vertical-align: middle;
    background-color: rgba(223, 222, 4, 0.17);
    border-radius: 10px;
}


.hr_offer{
  border-color: rgb(229, 210, 228, 0.49);
  margin-left: 2px;
  margin-right: 2px;
}

