
/*  Extra small devices Phones (<768px)*/
@media (max-width:768px) {
	.label_order{
		font-size: 14px;
		font-weight: normal;
		margin: 0px 0px 10px -10px
	}
}

/*Small devices Tablets (≥768px)*/
@media (min-width:768px) {
	.label_order{
		font-size: 14px;
		font-weight: normal;
		margin: 25px 0px 0 10px
	}
}

.total_review_order {
	font-size: 16px;
	color: rgb(206, 96, 8);
}

.img_offer{
	padding-right: 10px!important;
	padding-left: 1px!important;
}

/** offers_order_review */
.div_label_order{
	margin-top: -15px;
	text-align: right
}



