/* nothing with screen size bigger than 768px */
@media (max-width:768px) {

	.body_review {
    	overflow-x: hidden;
    	padding-top: 100px !important;
    }
}

/*nothing with screen size smaller than 768px*/
@media (min-width:768px) {

	.body_review{
		overflow-x: hidden;
		padding-top: 60px !important;
	}

}

