 <div id="title_category" class="page-header hidden-xs" style="border-bottom: 0px;">
 	<h4 style="margin-top: 15px;margin-bottom: 0px;margin-left: -20px"><%= query %> <small><%= total %> ofertas</small></h4>
 </div>

 <div id="title_category" class="page-header visible-xs" style="margin-left: -1px; border-bottom: 0px solid #eee; ">
 	<h5 style="margin-top: 14px;
margin-bottom: 0px;"><%= query %> <br><small><%= total %> ofertas</small></h5>
 </div>
 