 <div id="title_category" class="page-header hidden-xs" >
 	<h4><%= query %> <small><%= total %> ofertas</small></h4>
 </div>

 <div id="title_category" class="page-header visible-xs" style="margin-left: -1px">
 	<h5><%= query %> <br><small><%= total %> ofertas</small></h5>
 </div>
 