<ul class="dropdown-menu" role="menu">
	<li><a href="/categoria/ventiladores/" onclick="ga('send','event','categorias','click','click_menu');">Ventiladores</a></li>
	<li><a href="/categoria/aspirador de pó/" onclick="ga('send','event','categorias','click','click_menu');">Aspirador de pó</a></li>
</ul> 