<ul class="dropdown-menu" role="menu">
	<li><a href="/categoria/geladeira/">Geladeira</a></li>
	<li><a href="/categoria/fogão/">Fogão</a></li>
	<li><a href="/categoria/microondas/">Microondas</a></li>
	<li><a href="/categoria/ar condicionado/">Ar condicionado</a></li>
	<li><a href="/categoria/lavadora de roupa/">Lavadora de roupa</a></li>
	<li><a href="/categoria/secadora/">Secadora</a></li>
	<li><a href="/categoria/aspirador/">Aspirador</a></li>
</ul> 