<ul class="dropdown-menu" role="menu" class="menu_eletroportateis">
	<li><a href="/categoria/ventilador/" onclick="ga('send','event','categorias','click','click_menu');">Ventiladores</a></li>
	<li><a href="/categoria/aspirador de pó/" onclick="ga('send','event','categorias','click','click_menu');">Aspirador de pó</a></li>
	<li><a href="/categoria/fritadeira sem óleo/" onclick="ga('send','event','categorias','click','click_menu');">Fritadeiras sem óleo</a></li>
	<li><a href="/categoria/cafeteira/" onclick="ga('send','event','categorias','click','click_menu');">Cafeteiras</a></li>
	<li><a href="/categoria/máquina de costura/" onclick="ga('send','event','categorias','click','click_menu');">Máquinas de costura</a></li>
	<li><a href="/categoria/purificador/" onclick="ga('send','event','categorias','click','click_menu');">Purificadores</a></li>
	<li><a href="/categoria/batedeira/" onclick="ga('send','event','categorias','click','click_menu');">Batedeiras</a></li>
	<li><a href="/categoria/liquidificador/" onclick="ga('send','event','categorias','click','click_menu');">Liquidificadores</a></li>
	<li><a href="/categoria/mixer/" onclick="ga('send','event','categorias','click','click_menu');">Mixers</a></li>
	<li><a href="/categoria/ferro/" onclick="ga('send','event','categorias','click','click_menu');">Ferros</a></li>
</ul> 