<ul class="dropdown-menu" role="menu">
	<li><a href="/categoria/geladeira/page/1">Geladeira</a></li>
	<li><a href="/categoria/fogão/page/1">Fogão</a></li>
	<li><a href="/categoria/microondas/page/1">Microondas</a></li>
	<li><a href="/categoria/ar condicionado/page/1">Ar condicionado</a></li>
	<li><a href="/categoria/lavadora/page/1">Lavadora de roupa</a></li>
	<li><a href="/categoria/secadora/page/1">Secadora</a></li>
	<li><a href="/categoria/aspirador/page/1">Aspirador</a></li>
</ul> 