<li class="visible-xs"><a href="#">Geladeira</a></li>
<li class="visible-xs"><a href="#">Fogão</a></li>
<li class="visible-xs"><a href="#">Microondas</a></li>
<li class="visible-xs"><a href="#">Ar Condicionado</a></li>
<li class="visible-xs"><a href="#">Lavadora</a></li>
<li class="visible-xs"><a href="#">Secadora</a></li>
<li class="visible-xs"><a href="#">Aspirador</a></li>