<ul class="dropdown-menu menu_informatica" role="menu">
	<li><a href="/tablet/" onclick="ga('send','event',s','click','click_menu');">Tablet</a></li>
	<li><a href="/notebook/" onclick="ga('send','event',s','click','click_menu');">Notebook</a></li>
	<li><a href="/macbook/" onclick="ga('send','event',s','click','click_menu');">Macbook</a></li>
	<li><a href="/acessorios Inform치tica/" onclick="ga('send','event',s','click','click_menu');">Acess칩rios Inform치tica</a></li>
	<li><a href="/acessorios Apple/" onclick="ga('send','event',s','click','click_menu');">Acess칩rios Apple</a></li>
	<li><a href="/impressoras/" onclick="ga('send','event','categorias','click','click_menu');">Impressoras</a></li>
	<li><a href="/multifuncionais/" onclick="ga('send','event','categorias','click','click_menu');">Multifuncionais</a></li>
	<li><a href="/gps/" onclick="ga('send','event','categorias','click','click_menu');">Navegadores GPS</a></li>
	<li><a href="/ipad/" onclick="ga('send','event','categorias','click','click_menu');">Ipad</a></li>
</ul> 


