<ul class="dropdown-menu menu_eletroportateis" role="menu">
	<li><a href="/ventilador/" onclick="ga('send','event',s','click','click_menu');">Ventiladores</a></li>
	<li><a href="/aspirador de pó/" onclick="ga('send','event',s','click','click_menu');">Aspirador de pó</a></li>
	<li><a href="/fritadeira/" onclick="ga('send','event',s','click','click_menu');">Fritadeiras sem óleo</a></li>
	<li><a href="/cafeteira/" onclick="ga('send','event',s','click','click_menu');">Cafeteiras</a></li>
	<li><a href="/máquina de costura/" onclick="ga('send','event',s','click','click_menu');">Máquinas de costura</a></li>
	<li><a href="/purificador/" onclick="ga('send','event',s','click','click_menu');">Purificadores</a></li>
	<li><a href="/batedeira/" onclick="ga('send','event',s','click','click_menu');">Batedeiras</a></li>
	<li><a href="/liquidificador/" onclick="ga('send','event',s','click','click_menu');">Liquidificadores</a></li>
	<li><a href="/mixer/" onclick="ga('send','event',s','click','click_menu');">Mixers</a></li>
	<li><a href="/ferro/" onclick="ga('send','event','categorias','click','click_menu');">Ferros</a></li>
</ul> 