<!--desktop -->
<ul class="dropdown-menu menu_smartphones" role="menu">
	<li><a href="/categoria/iphone/" onclick="ga('send','event','categorias','click','click_menu');">Iphones</a></li>
	<li><a href="/categoria/motorola/" onclick="ga('send','event','categorias','click','click_menu');">Motorola</a></li>
	<li><a href="/categoria/samsung%20galaxy/" onclick="ga('send','event','categorias','click','click_menu');">Samsung Galaxy</a></li>
</ul> 