<ul class="dropdown-menu" role="menu">
	<li><a href="/categoria/geladeira/" onclick="ga('send','event','categorias','click','click_menu');">Geladeira</a></li>
	<li><a href="/categoria/fogão/" onclick="ga('send','event','categorias','click','click_menu');">Fogão</a></li>
	<li><a href="/categoria/microondas/" onclick="ga('send','event','categorias','click','click_menu');">Microondas</a></li>
<!-- 	<li><a href="/categoria/ar%20condicionado/" onclick="ga('send','event','categorias','click','click_menu');">Ar condicionado</a></li> -->
	<li><a href="/categoria/lavadora%20roupa/" onclick="ga('send','event','categorias','click','click_menu');">Lavadora de roupa</a></li>
	<li><a href="/categoria/secadora/" onclick="ga('send','event','categorias','click','click_menu');">Secadora</a></li>
</ul> 