<style type="text/css">
  .ga_click_category{

  }
</style> 
<ul class="dropdown-menu" role="menu">
	<li><a href="/geladeira/" class="ga_click_category">Geladeira</a></li>
	<li><a href="/fogão/" class="ga_click_category">Fogão</a></li>
	<li><a href="/microondas/" class="ga_click_category">Microondas</a></li>
	<li><a href="/ar condicionado/" class="ga_click_category">Ar condicionado</a></li>
	<li><a href="/lavadora de roupa/" class="ga_click_category"Lavadora de roupa</a></li>
	<li><a href="/secadora/" class="ga_click_category">Secadora</a></li>
</ul> 