<ul class="dropdown-menu" role="menu">
	<li><a href="/geladeira/" onclick="ga('send','event',s','click','click_menu');">Geladeira</a></li>
	<li><a href="/fogão/" onclick="ga('send','event',s','click','click_menu');">Fogão</a></li>
	<li><a href="/microondas/" onclick="ga('send','event',s','click','click_menu');">Microondas</a></li>
	<li><a href="/ar condicionado/" onclick="ga('send','event',s','click','click_menu');">Ar condicionado</a></li>
	<li><a href="/lavadora de roupa/" onclick="ga('send','event',s','click','click_menu');">Lavadora de roupa</a></li>
	<li><a href="/secadora/" onclick="ga('send','event','categorias','click','click_menu');">Secadora</a></li>
</ul> 